[submodule "VoxelTerrain/Plugins/UnrealSandboxTerrain"]
	path = VoxelTerrain/Plugins/UnrealSandboxTerrain
	url = https://github.com/moichia/UnrealSandboxTerrain.git
[submodule "VoxelTerrain/Plugins/UnrealSandboxToolkit"]
	path = VoxelTerrain/Plugins/UnrealSandboxToolkit
	url = https://github.com/moichia/UnrealSandboxToolkit.git
